.row
  .col-lg-6.col-md-6.col-sm-6
    %h1.title Inactive Wildfires
  .col-lg-6.col-md-6.col-sm-6
    = button_to "Add New Wildfire", new_wildfire_path, method: 'get', class: "add_button"



.row
- @wildfires.each do |w|
  .col-lg-4.col-md-4.col-sm-4
    .panel.panel-default.custom_panel
      %h4= w.incident
      %br
      Description:
      = w.description
      %br
      Acres:
      = w.acres
      %br
      Status:
      = w.status
      %br
      = link_to "change_fire_status", change_status_wildfire_path(w), method: 'patch'
      %br
      %br
  