
.row
  .col-lg-6.col-md-6.col-sm-6
    %h1.title All Wildfires
  .col-lg-6.col-md-6.col-sm-6
    = button_to "Add New Wildfire", new_wildfire_path, method: 'get', class: "add_button"

-unless @wildfires.empty?

  .row

  - @wildfires.each do |w|
    .col-lg-4.col-md-4.col-sm-4
      .panel.panel-default.custom_panel2
        = link_to w.incident, "/wildfires/#{w.id}"
        %br
        = w.description
        %br
        Acres:
        = w.acres
        %br

        -if w.location
          Location
          = w.location.name
        %br
        .status_div 
          Status:
          = w.status
        %br
        = link_to "change_fire_status", change_status_wildfire_path(w), method: 'patch', class: "btn btn-primary form-control"
        %br
        %br
-else
  "There are no wildfires in your database"
