.col-lg8.col-md-8.col-sm-8.col-sm-offset-2.col-md-offset-2.col-lg-offset-2
  .panel.panel-default.custom_panel.centered
    %p= @wildfire.incident
    %p= "#{@wildfire.description}"
    %p= "Acres: #{@wildfire.acres}"
    %p= "Status: #{@wildfire.status}"
    %br