.row
  .col-lg-6.col-md-6.col-sm-6
    %h1.title Locations
  .col-lg-6.col-md-6.col-sm-6
    = button_to "Add New Location", new_location_path, method: 'get', class: "add_button"

.row
  -unless @locations.empty?
    - @locations.each do |location|
      .col-lg-4.col-md-4.col-sm-4
      .panel.panel-default.custom_panel

        %h4.title= link_to location.name, "locations/#{location.id}", class: "title_link"
        %br
        Dedicated Wildfire Unit?
        - response = location.dedicated_wildfire_unit ? "Yes" : "No"
        = response
        %br
        Location Unit:
        = location.unit
        
        
        %br
        %br
  -else
    "There are no locations in the database."