%h1 Create a New Location (See nested form below)
.col-sm-12.col-md-12.col-lg-12
  .panel.panel-default.custom_panel.form-group

    = form_for @new_location, url: locations_path do |l|

      = l.label :name
      = l.text_field :name, class: "form-control"
      %br
      = l.label :unit
      = l.text_field :unit, class: "form-control"
      %br
      = l.label :dedicated_wildfire_unit
      = l.text_field :dedicated_wildfire_unit, class: "form-control"

      %br

      %br
      = l.submit









%h1 A Working Nested Form
.col-sm-12.col-md-12.col-lg-12
  .panel.panel-default.custom_panel.form-group
    =form_for @new_location do |l|
      
      = l.label :name
      = l.text_field :name, class: "form-control"
      %br
      = l.label :unit
      = l.text_field :unit, class: "form-control"
      %br
      = l.label :dedicated_wildfire_unit
      = l.text_field :dedicated_wildfire_unit, class: "form-control"

      %br
      = l.fields_for :wildfires, :html => { :multipart => true } do |w|
        = w.label :incident
        = w.text_field :incident, class: "form-control"
        %br
        %br




      = l.submit    






